.contact-background{
    width: 100vw;
    background: url(../assets/images/12.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}